$primary: rgba(183, 0, 55, 0.80);
$radius: 12px;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f7fa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-end {
  background-color: rgba(211, 211, 211, 0.404);
}

.today {
  font-weight: bold;
  color: red;
}

.start {
  background-color: #afd;
}

.end {
  background-color: #daf;
}

.between {
  background-color: rgb(255, 221, 221);
}

.muted {
  color: #ac0404;
}

.disabled {
  color: #ccc;
  pointer-events: none;
}
