$primary: rgba(183, 0, 55, 0.80);
$radius: 12px;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f7fa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
