$primary: rgba(183, 0, 55, 0.80);
$radius: 12px;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f7fa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 360px;
  padding: 15px;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;

  &--nav {
    margin: -15px -15px 15px;
    padding: 0 15px;
    background-color: $primary;
    color: #fff;
    height: 70px;
    position: relative;
    

    a {
      position: absolute;
      cursor: pointer;
      left: 10px;
      font-size: 32px;
      line-height: 1;
      top: 16px;
      width: 30px;
      text-align: center;
      display: inline-block;
      color: #fff;
      user-select: none;
      

      &:hover {
        color: #fff;
      }

      &:last-child {
        left: auto;
        right: 10px;
      }
    }

    h1 {
      margin: 0;
      position: absolute;
      left: 40px;
      right: 40px;
      text-align: center;
      cursor: pointer;
      font-weight: 400;
      font-size: 30px;
      line-height: 66px;
      user-select: none;
      
    }

    small {
      font-weight: 300;
      font-size: 60%;
    }
  }

  &--days {
    font-size: 0;

    span {
      width: 14.28571%;
      display: inline-block;
      text-align: center;
      user-select: none;
      cursor: pointer;
      margin: 0;
      line-height: 34px;
      position: relative;
      font-size: 16px;
      

      &.label {
        text-transform: uppercase;
        font-weight: 700;
        color: black;
        font-size: 14px;
        cursor: initial;
      }

      &.active {
        font-weight: 700;
        background-color: #a50505;
      }

      &.muted {
        color:  rgba(0, 0, 0, 0.3);
      }

      &.between {
        border-radius: 0;
      }

      &.start, &.end {
        background-color: #a50505;
        color: #fff;
      }

      &.between:nth-child(7n):after, &.start:nth-child(7n):after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 20px;
      }

      &.between:nth-child(7n + 1):after, &.end:nth-child(7n + 1):after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 20px;
      }
      &.start.end:after {
        display: none;
      }
    }
  }
}


.hover-end {
  background-color: lightgray; /* Или другой цвет */
}

.between-hover {
  background-color: rgba(0,0,0,0.1); /* Или другой цвет */  
}

.today {
  font-weight: bold;
  color: red;
}

.start {
  background-color: #afd;
}

.end {
  background-color: #daf;
}

.between {
  background-color: rgb(255, 221, 221);
}

.hover-end {
  background-color: lightgray;
}

.between-hover {
  background-color: rgb(255, 221, 221);
}

.muted {
  color: #ac0404;
}
